MONGO_URI=mongodb://localhost:27017/zentask
ACCESS_TOKEN_SECRET=access_token
REFRESH_TOKEN_SECRET=refresh_token

FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:3001
GOOGLE_CLIENT_ID=client_id_cua_ban
GOOGLE_CLIENT_SECRET=client_secret_cua_ban

API_KEY_AI_1=
API_KEY_AI_2=
API_KEY_AI_3=
API_KEY_AI_4=
API_KEY_AI_5=
API_KEY_AI_6=
API_KEY_AI_7=
API_KEY_AI_8=
API_KEY_AI_9=
API_KEY_AI_10=

HF_TOKEN=
PRONUNCIATION_API_KEY=


# Google reCAPTCHA v2 checkbox
RECAPTCHA_ENABLED=true
RECAPTCHA_SECRET_KEY=
